<nav class="navbar navbar-expand-lg bg-body-tertiary shadow bg-light py-1 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand p-0" href="/home/" style="font-family: var(--font1); font-size: 40px;">Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-symbols-outlined" style="font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;">favorite</span>
    </button>
    <div class="collapse navbar-collapse justify-content-between " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown p-1">
          <a class="upper_btn nav-link dropdown-toggle text-dark" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: var(--font2); font-size: large;">
            Fashion and clothing
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/home/for male/" style="font-family: var(--font2); font-size: large;">for male</a></li>
            <li><a class="dropdown-item" href="/home/for female/" style="font-family: var(--font2); font-size: large;">for female</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown p-1">
          <a class="upper_btn nav-link dropdown-toggle text-dark" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: var(--font2); font-size: large;">
            digital products
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/home/mobile/" style="font-family: var(--font2); font-size: large;">mobile</a></li>
            <li><a class="dropdown-item" href="/home/laptop/" style="font-family: var(--font2); font-size: large;">laptop</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/home/accessories/" style="font-family: var(--font2); font-size: large;">accessories</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown p-1">
          <a class="upper_btn nav-link dropdown-toggle text-dark" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-family: var(--font2); font-size: large;">
            home appliances
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/home/Electronic appliances/" style="font-family: var(--font2); font-size: large;">Electronic appliances</a></li>
            <li><a class="dropdown-item" href="/home/decor/" style="font-family: var(--font2); font-size: large;">decor</a></li>
          </ul>
        </li>
        <li class="nav-item p-1">
          <a class="upper_btn nav-link active text-dark" aria-current="page" href="/home/off" style="font-family: var(--font2); font-size: large;">offer</a>
        </li>
        <li class="nav-item p-1">
          <a class="upper_btn nav-link active text-dark" aria-current="page" href="/account/" style="font-family: var(--font2); font-size: large;">account</a>
        </li>
      </ul>
      <form class="d-flex col-xl-4 col-lg-2" role="search">
        <input class="form-control me-2 h-25" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary btn-sm" type="submit"><span class="material-symbols-outlined align-text-bottom ">search</span></button>
      </form>
    </div>
  </div>
</nav>
